<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdD_Sf6gXjqcbXV_ETuc2HitztRfqorwk</string>
	<key>GCM_SENDER_ID</key>
	<string>210975068995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>simple-app-bac60</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-app-bac60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210975068995:ios:b2841bb0d45947b3d215f6</string>
</dict>
</plist>